
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
@font-face {
	font-family: Signature;
	src: url(Signature.ttf);
}

#preloader {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
	background: #272727;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden !important;
}

#preloader img {
	width: 20rem;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #7a7a7a;
}

::-webkit-scrollbar-thumb {
	background: #424242;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.welcome {
	display: flex;
	width: 100%;
	height: 100vh;
}
.navigation
{
	width: 100%;
	height: 20vh;
	fill: rgba(0,0,0,0.3);
	box-sizing: border-box;
	z-index: -999;
	
}
.navigation .header:hover {
	transform: scale(1.02);
}

.navigation .header {
	font-family: Signature;
	font-size: 4vw;
	color: #ffffff;
	transition: all 0.3s ease;
	cursor: pointer;
}
.navigation .logo-container a
{
	text-decoration: none;

}

.navigation .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.max-width {
	padding: 30px;
	text-decoration: none;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li a {
	text-decoration: none;
	margin-left: 30px;
	font-size: 17px;
	color: #c1d7fa;
	font-family: Kanit;
	border-radius: 10px;
	transition: all 0.3s ease;
	padding: 4px 11px;
	position: relative;
}

nav .nav-button::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

nav .nav-button:hover::before {
	transform: scaleX(1);
}

nav ul li #active {
	border: 2px solid #ffffff;
}

nav ul li {
	display: flex;
	align-items: center;
}

nav ul i {
	font-size: 17px;
	display: flex;
	align-items: center;
}


#contact {
	padding: 0.5rem 2rem;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	background-color: #035282;
	color: #ffffff;
	font-family: Kanit;
	transition: all 0.2s ease;
}

#contact:hover {
	background-color: #023554;
}
.navigation, .welcome
{
	background: background: rgb(0,0,0);
background: linear-gradient(190deg, rgba(0,0,0,1) 3%, rgba(0,0,0,0.7259278711484594) 49%, rgba(0,0,0,1) 97%), url('bg.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
 .navigation .max-width .hamburger
{
	display: none;
	cursor: pointer;
	margin-right: -3%;
	margin-top: -1%;
}
.navigation .max-width .hamburger .bar
{
	display: block;
	width: 20px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.5s ease-in-out;
	background-color: #c1d7fa;
	border-radius: 5px;
}
.navigation .icon-container
{
	display: none;
}
.welcome {
	display: flex;
	width: 100%;
	height: 100vh;
}

.welcome .max-width {
	display: flex;
	width: 100%;
}

.welcome .welcome-container .text-3 span {
	color: #77bfff;
	font-weight: 500;
	font-family: Monda;
}

.welcome .welcome-container .text-1 {
	font-size: 27px;
	font-family: Asap;
}

.welcome .welcome-container .text-2 {
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
	font-family: Varela Round;
}

.welcome .welcome-container .text-3 {
	font-size: 40px;
	margin: 5px 0;
	font-family: Asap;
}

.welcome-container {
	line-height: 13vh;
	margin-top: 10%;
	margin-left: 5%;
	color: white;
	margin-top: 5%;
}

.welcome .image-container {
	margin: 10%;
	box-sizing: border-box;
	position: relative;
	right: -15%;
	bottom: 15%;
}

.welcome .image-container::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 115%;
	border: 0.25rem solid white;
	top: 2rem;
	right: -2rem;
	border-radius: 5%;
}

.welcome .image-container img {
	max-width: 20rem;
	max-height: 25rem;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 10px;
	border-bottom-left-radius: 5%;
	position: relative;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

.welcome .image-container button {
	position: absolute;
	margin: 10%;
	width: 18.75rem;
	margin-left: -100%;
	margin-top: 118%;
	padding: 0.5rem 2rem;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	border: none;
	background-color: #035282;
	color: #ffffff;
	font-family: Kanit;
	transition: all 0.2s ease;
	border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
}
.welcome .image-container button:hover
{
	background-color: #023554;
}
.welcome .social-icons
{
	list-style: none;
	display: flex;
	align-items: left;
	margin-left: -8%;
}
.welcome .social-icons a
{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.welcome .social-icons li 
{
	margin-left: 8%;
}
#about {
	padding: 0.5rem 2rem;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	background-color: #035282;
	color: #ffffff;
	font-family: Kanit;
	transition: all 0.2s ease;
}

#about:hover {
	background-color: #023554;
}
.custom-shape-divider-bottom-1646199425 {
    position: absolute;
    bottom: -20vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1646199425 svg {
    position: relative;
    display: block;
    width: calc(100% + 10.3px);
    height: 66px;
}

.custom-shape-divider-bottom-1646199425 .shape-fill {
    fill: #ffffff;
}
@media only screen and (max-width: 768px) {
	body
	{
		overflow-X: hidden;
	}
	.navigation .header
	{
		font-size: 5vh;
	}
	.nav-links
	{
		position: fixed;
		right: 0px;
		height: 92vh;
		top: 15vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: rgba(0,0,0,0.95);
		width: 100% !important;
		transition: transform 0.5s ease-in;
		transform: translateX(100%);
		z-index: 999;
	}
	.navigation .max-width .hamburger
	{
		display: block;
	}
	.nav-links li
	{
		opacity: 0;
		margin-top: 15%;
	}
	.welcome .image-container
	{
		display: none;
	}
	.welcome .image-container img
	{
		width: 10rem;;
	}
	.nav-active
	{
	transform: translateX(0%);
	
	}
	.nav-active + body
	{
			overflow: hidden;
	}
	@keyframes navLinkFadeIn
	{
		0%
		{
			opacity: 0;
			transform: translateX(50px);
		}
		100%
		{
			opacity: 1;
			transform: translateX(0px);
		}
	}
	.lock-scroll
	
	{
		overflow: hidden;
	}
	
	.hamburger.toggle .bar:nth-child(2)
	{
		opacity: 0;
	}
	.hamburger.toggle .bar:nth-child(1)
	{
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.toggle .bar:nth-child(3)
	{
		transform: translateY(-8px) rotate(-45deg);
	}
	.navigation .icon-container
	{
		display: flex;
		justify-content: center;
		margin-left: 37%
		

	}
	.navigation .social-icons li
	{
		margin-left: -5%;
	}
	.welcome .social-icons
	{
		display: none;
	}
	.welcome .welcome-container .text-1
	{
		font-size: 4vh;
	}
	.welcome .welcome-container .text-2
	{
		font-size: 5.8vh;
	}
	.welcome .welcome-container
	{
		text-align: center;
		line-height: 2;
	}
	.welcome .welcome-container .text-3
	{
		font-size: 4.2vh;
	}
	.welcome .welcome-container button
	{
		margin-top: 30%;
	}
}
